---
 const personalImageAlt = "Christian Valencia"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-200/90 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  > 
    <p>
      Mi nombre es Christian pero mis amigos me dicen "Valo". Mi interés por el desarrollo web y animacion 3D comenzó a mis 12 años, aunque mi ordenador no era lo suficientemente potente, pude iniciar a manejar autocad 2002 y notepad++. Actualmente me encuentro 
        <strong>desarrollando paginas Web y material 3D con diferentes tecnologías.
        </strong>
    </p>

    <p>
      Mi aptitud mas importante ha sido colaborar con los equipos de trabajo en el diseño y desarrollo de la parte gráfica de sus proyectos y así plasmar sus ideas de una manera más eficiente, en forma de 
        <strong>
        diseños 3D, paginas Web con la información y recopilación de datos, vídeos o multimedia.
        </strong>
        Aunque en este momento no estoy trabajando con ningun equipo, me encuentro desarollando más habilidades para poder tener un buen desempeño en mis labores.
    </p>

    <p>
      La experiencia que he obtenido la estoy usando para <strong>
        crear una iniciativa llamada 
        <em class="italic">
          EG Universe
        </em> 
        </strong>
        para mezclar mis tres pasiones: El desarrollo Web, la edicion multimedia, y la música. Mi objetivo es reunir los negocios de mis familiares y conocidos en una pagina web, donde cada uno pueda mostrar sus productos y con mi ayuda darle vida a sus emprendimientos.
    </p>
  </div>

  <img width="200" height="200" src="/yo.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>